 h1 {
        width: 100%;
        font-size: 100px;
        font-family: cursive;
        text-align: center;
        text-decoration: underline;
      }

      body {
        color: #ECDED9;
        background-color: #4F584D;
      }

      a {
        color: #ECDED9;
      }
