 h1 {
        width: 100%;
        font-size: 100px;
        font-family: cursive;
        text-align: center;
        text-decoration: underline;
      }

      body {
        color: #ECDED9;
        background-color: #4F584D;
      }

      a {
        color: #ECDED9;
      }

.campo-numero {
  width: 150px;
    font-size: 150px;
    height: 150px;
}

.botao-resultado {
  display: inline-flex;
  width: 150px;
  height: 150px;
  font-size: 150px;
  align-items: center;
  justify-content: center;
}